.estilo1 { 
			font-family: sans-serif, Arial, Helvetica; 
			font-size: 26px; 
			color: #FFFEFD; 
			} 
.estilo2 { 
color: #990000; 
font-weight: bold; 
} 
.estilo3 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #660099; }
