/* PINK COLOR */
.orangeBox{
    background-image:url(../images/party3.jpg);
	background-size: 100% 100%;
    border: 1.5px solid #FF6B24;
	
	 		 	
}
.orangeBox1{
    background-color:#FFF;
	 background-size: 100% 100%;
    border: 1.5px solid #FF6B24;

}
.banner1{
	-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede;
	border: 1px solid #FF6B24 ;
}
.banner2 {
background: url(../images/party3.jpg);
background-size: 100% 100%;
-webkit-box-shadow: 0px 0px 10px #ff3ede;
-moz-box-shadow: 0px 0px 10px #ff3ede;
box-shadow: 0px 0px 10px #ff3ede;
border: 1px solid #FF6B24 ;
}

/* Profile */
.profile-sec-head {	
    float: left;
    width: 100%;
}
.profile-sec-head h1 {
    color:#FF6B24;
    float: left;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px 0 15px;
    text-align: center;
    width: 100%;
}
.profile-sec-head img{
	 -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
  	-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede; 	
	max-width: 100px;
  	max-height: 100px;
	border: 1px solid #FF6B24 ;
	display: table;
    float: none;
    margin: 20px auto 0;
}
.profile-sec-head h1 i {
    font-style: normal;
    font-weight: 600;
}
.profile-sec-head p {
    color: #444444;
    display: table;
    float: none;
    font-family: open sans;
    font-size: 13px;
    letter-spacing: 0.25px;
    margin: 0 auto;
}
.profile-sec-head p i {
    margin-right: 10px;
}
.profile-sec-head ul {
    display: table;
    float: none;
    margin: 10px auto 20px;
    padding: 0;
}
.profile-sec-head ul li {
    float: left;
    list-style: none outside none;
    margin: 0 3px;
}
.profile-sec-head ul li a {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    height: 30px;
    line-height: 26px;
    text-align: center;
    width: 30px;
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.profile-details {
    background: none repeat scroll 0 0 #FCD8A7;
    float: left;
    width: 100%;
}
.profile-details > span {
    background: none repeat scroll 0 0 #000;
    color: #FF6B24;
    float: left;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
    width: 50%;
}
.profile-details > span > i {
    color:#B8B8B8;
    float: left;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    width: 100%;
}
.profile-details > p {
    color: #666666;
    float: left;
    font-family: pt sans;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin: 20px 0 45px;
    padding: 0 20px;
    width: 100%;
}
.profile-margin {
    margin-top: 1%;
	margin-left:32%;
}
.profile-details > p i {
    color:#000;
    float: left;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.profile-details > a {

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	
    display: table;
    float: none;
    line-height: 10px;
    margin: 0 auto 45px;
    padding: 18px;
    text-align: center;
}
.profile-details > a i {
    float: left;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

/* Tab Profile */
#tabmenu {
	background:#000;
    float: left;
  	margin-left:-20px;
    width: 100%;
}

#tab-content {
    background: none repeat scroll 0 0 #000;
    border: medium none;
    float: left;
    margin-top: -1px;
    width: 100%;
}
#tab-content div textarea {

    background: none repeat scroll 0 0 #FCD8A7;
    border: medium none;
    float: left;
    font-family: open sans;
    font-size: 12px;
    letter-spacing: 0.3px;
    max-height: 40px;
    padding: px;
    width: 100%;
}
.share-sec {
    background: none repeat scroll 0 0 #000;
    display: block !important;
    float: left;
    padding: 5px;
    width: 100%;
}
.share-sec > a {
    color:#000;
	background-color:#FF6B24;
    float: right;
    font-family: open sans;
    font-size: 12px;
    line-height: 10px;
    padding: 5px 10px;
}
/* Amigos Fiesteros */
.total-members {
    background: none repeat scroll 0 0 #000;
    float: left;
	color:#FF6B24;
    margin-top: 5px;
	margin-left:-20px;
    width: 100%;
}
.total-memeber-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
	color:#FF6B24;	
    padding: 8px;
    width: 100%;
}
.total-memeber-head > span {
    color: #444444;
    float: left;
    font-family: pt sans;
    font-size: 13px;
	color:#FF6B24;
    letter-spacing: 0.35px;
    line-height: 28px;
    padding-left: 8px;
}
.total-memeber-head > span i {
    margin-right: 10px;
}

.total-members > ul {
	background-color:#FCD8A7;
    float: left;
    margin: 0;
    padding: 15px;
    width: 100%;
}
.total-members ul li {
    float: left;
    list-style: none outside none;
    padding: 6px;
    position: relative;
    width: 12.5%;
}
.total-members ul li a {
    float: left;
    width: 100%;
}

.member-hover {
    background: none repeat scroll 0 0 #444444;
    content: "";
    left: 0;
    margin-left: 0;
	
    opacity: 0;
	filter:alpha(opacity=0);
	
    padding: 8px 20px;
    position: absolute;
    top: -9999px;
	
	
    -webkit-transform: scale(1.5) rotate(25deg);
    -moz-transform: scale(1.5) rotate(25deg);
    -ms-transform: scale(1.5) rotate(25deg);
    -o-transform: scale(1.5) rotate(25deg);
    transform: scale(1.5) rotate(25deg);
	
    width: 110px;
	
    -webkit-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    -moz-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    -ms-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    -o-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
}
.total-members ul li:hover .member-hover {
    left: 7px;
	
    opacity: 1;
	filter:alpha(opacity=100);
	
    top: -92px;
	
	
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.member-hover:before {
    border-left: 0 solid;
    border-right: 18px solid rgba(0, 0, 0, 0);
    border-top: 25px solid #444444;
    bottom: -25px;
    content: "";
    left: 0;
    position: absolute;
}
.member-hover > span {
    color: #FFFFFF;
    float: left;
    font-family: pt sans;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.member-hover > a {
    display: table;
    float: none;
    margin: 0 auto;
    text-align: center;
}

.member-hover a img {
    display: table;
    float: none !important;
    margin: 0 auto;
    text-align: center;
    width: auto !important;
}

/* Latest Tweets */
.latest-tweets {
    background: none repeat scroll 0 0 #000;
    float: left;
    width: 100%;
	margin-left:-40px;
	margin-right:0px;
	width:auto;
}
.latest-tweets-head {

    float: left;
    padding: 8px;
    width: 100%;
	
}
.latest-tweets-head > span {
    color:#FF6B24;
    float: left;
    font-family: pt sans;
    font-size: 13px;
    letter-spacing: 0.35px;
    line-height: 28px;
    padding-left: 8px;
}
.latest-tweets-head > span i {
    margin-right: 10px;
}
.latest-tweets > ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
	background:#000;
}
.latest-tweets ul li {
    background:#000;
    float: left;
    list-style: none outside none;
    padding: 11px 20px;
    width: 100%;
	border:0px;
	
}
.latest-tweets li a {
    color: #444444;
    float: left;
    font-family: pt sans;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 22px;
    width: 100%;
	padding-left:5px;
	padding-right:5px;
	background:#FCD8A7;
	

}
.latest-tweets li a i {
    color: #D41F00;
    font-style: normal;
}
.latest-tweets li a img {
    margin-bottom:5px;
	margin-left:100px;
}
.latest-tweets li p {
    color: #888888;
    float: left;
    font-family: pt sans;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 10px;
    margin: 10px 0 0;
    text-align: left;
    width: 100%;
}
.latest-tweets li p i {
    font-size: 14px;
    margin-right: 10px;
}
.latest-tweets ul li:last-child {
    border: medium none;
}
/* TIME LINE */
.timeline-sec {
    float: left;
    width: 100%;
}
.timeline-head {

    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
	
    float: left;
    padding: 15px;
    width: 100%;
}
.timeline-head span {
    color: #FFFFFF;
    float: left;
    font-family: roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 10px;
    text-transform: uppercase;
}
.timeline-head span i {
    color: #FFFFFF;
    float: left;
    font-family: pt sans;
    font-size: 12px;
    font-style: normal;
    line-height: 8px;
    margin-left: 0;
    margin-top: 13px;
    width: 100%;
}
.add-btn {
    float: right;
}
.timeline-head .add-btn {
    margin-top: 3px;
}
.add-btn > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    float: left;
    font-family: open sans;
    font-size: 13px;
    letter-spacing: 0.3px;
    padding: 4px 13px 4px 14px;
    position: relative;


	
	
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.add-btn > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.add-btn a i {
    display: none;
}
.add-btn .blue, .add-btn .green, .add-btn .pink, .add-btn .gray, .add-btn .black{
    border: medium none;
	
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.timeline {
    float: left;
    padding: 0px !important;
    width: 100% !important;
	margin-left:-20px;
	margin-top:15px;

}
.timeline > ul {
	
    border-left: 1.5px solid #FF6B24;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.timeline li {
    float: left;

    padding-bottom: 10px;
    padding-left: 4px;
    position: relative;
    width: 100%;
}
.timeline li:before {
    background: none repeat scroll 0 0 #background:#6D6D6D;;
    content: "";
    height: 25px;
    left: -5px;
    position: absolute;
    top: 6px;
    width: 25px;
}
.timeline li:after {
    background: none repeat scroll 0 0 #000;
    border: 2px solid #FF6B24;
    content: "";
    height: 15px;
    left: -9px;
    position: absolute;
    top: 11px;
    width: 15px;
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.timeline-title {
		-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	
	
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;

    float: left;
    width: 100%;
	position: relative;
	background:#000;
}
.timeline-title > h6 {
    color: #FF6B24;
    float: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 10px;
    margin: 0;
    padding: 13px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}
.time-title-img{
	float: left;
	margin-left:5px;
	margin-top:2px;
}

.timeline-title > i {
    color: #FF6B24;
    float: right;
    font-family: open sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 10px;
    padding: 13px 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}
.timeline-title > a {
    background: none repeat scroll 0 0 #FF6B24;
    float: right;
    font-family: pt sans;
    font-size: 12px;
    line-height: 12px;
    margin-right: 6px;
    margin-top: 6px;
    opacity: 0;
    padding: 4px 6px;
	color:#000;
	
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

	
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}
.timeline li:hover .timeline-title a {
    opacity: 1;
	
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
	background:#FF6B24;
	color:#000;
	
}


.timeline-title a i {
    color: #000;
    float: left;
    font-size: 12px;
    margin-right: 6px;
}
.timeline-content {
	 
    background: none repeat scroll 0 0 #FCD8A7;
    
	-webkit-box-shadow: 0 0 7px #ACACAC;
	-moz-box-shadow: 0 0 7px #ACACAC;
	-ms-box-shadow: 0 0 7px #ACACAC;
	-o-box-shadow: 0 0 7px #ACACAC;
	box-shadow: 0 0 7px #ACACAC;
	
    float: left;
    padding: 12px 20px 20px;
	
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
	
    width: 100%;

}

.timeline-content > p {
	
    color: #555555;
    float: left;
    font-family: open sans;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 24px;
    width: 100%;
}
.timeline-title:before {
    content: "";
    left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.timeline-content > a {
    float: left;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
	
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.timeline-content > a:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: -46px;
    width: 100%;
	
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.timeline-content > a:hover:before {
    top: 0;
}
.timeline-content > a i {
    color: #FFFFFF;
    left: 50%;
    margin-left: -6px;
    margin-top: -7px;
    position: absolute;
    top: -15px;
	
	
    -webkit-transition: all 0.4s ease 0.1s;
    -moz-transition: all 0.4s ease 0.1s;
    -ms-transition: all 0.4s ease 0.1s;
    -o-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
}
.timeline-content > a:hover i {
    top: 50%;
}
.timeline-content > p i {
    background: none repeat scroll 0 0 #F43D53;
    color: #FFFFFF;
    font-family: pt sans;
    font-size: 12px;
    font-style: normal;
    line-height: 10px;
    padding: 2px 5px;
	
   
}
/* My Photos */
.my-photos {
    float: left;
    width: 100%;
	margin-top:10px;
	margin-left:-40px;
	width:auto;
	background:#f4f4f4;

}
.my-photo-head {
    float: left;
    padding: 8px;
    width: 100%;
	background:#000;
	
}
.my-photo-head > span {
    color: #FF6B24;
    float: left;
    font-family: pt sans;
    font-size: 13px;
    letter-spacing: 0.35px;
    line-height: 28px;
    padding-left: 8px;
}
.my-photo-head > span i {
    margin-right: 10px;
}
.my-photos > ul {
    float: left;
    margin: 0;
    padding: 20px;
    width: 100%;
	background:#FCD8A7;
	
}
.my-photos > ul li {
    float: left;
    list-style: none outside none;
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
    width: 33.3333%;
}
.my-photos > ul li img {
    display: table;
    float: none;
    margin: 0 auto;

}
.my-photos li p {
    color: #444444;
    float: left;
    font-family: open sans;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.my-photo-hover {
    background: none repeat scroll 0 0 rgba(245, 62, 85, 0.8);
    left: 100%;
    margin-top: -36px;
	
    opacity: 0;
	filter:alpha(opacity=0);
	
	
    padding-left: 10px;
    position: absolute;
    top: 50%;
    width: 100%;
	
    -webkit-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    -moz-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    -ms-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    -o-transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
    transition: opacity 0.4s ease 0s, left 0.4s ease 0s;
}
.my-photos > ul li:hover .my-photo-hover {

    opacity: 1;
	filter:alpha(opacity=100);
	
	left:50%;
}
.my-photo-hover > a {
    color: #FFFFFF;
    float: left;
    margin-right: 9px;
    padding: 10px 0;
}


.the-timeline-margin{margin-top: 5%;}
.the-timeline{margin-bottom: 40px;}
.the-timeline .post-to-timeline{margin: 15px 0;}
.the-timeline .post-to-timeline textarea{height: 50px;resize: none;margin-bottom: 10px;}
.the-timeline ul{padding: 0;list-style: none;margin: 0 15px 0 30px;	border-left: 2px solid #FF6B24;}
.the-timeline ul li{padding: 5px 15px;display: block;margin: 20px 0 20px 35px;background: #404040;position: relative;border-left: 4px solid transparent;border-right: 1px solid transparent;border-top: 1px solid transparent;border-bottom: 1px solid transparent;}
.the-timeline ul li:hover{-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede;border-left-color: #F2780C;
	border-right-color: #FF6B24;
	border-top-color: #FF6B24;
	border-bottom-color: #FF6B24;}
.the-timeline ul li p{margin: 0;padding: 0;}
.the-timeline ul li .the-date{position: absolute;left: -64px;top:0;width: 50px;height: 50px;background: #1B1E24;
	border-radius: 50%;text-align: center;line-height: 130%;}
.the-timeline ul li .the-date span{color: #fff;font-size: 18px;display: block;margin-top: 8px;}
.the-timeline ul li .the-date small{color: #fff;font-size: 12px;display: block;}

.videoWrapper{position: relative;padding-bottom: 56.25%;/* 16:9 */padding-top: 25px;height: 0;margin-bottom: 15px;}
.videoWrapper iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: none;}iframe{width: 100%;border: none;}

.listas-margin{margin-top: 15%;}
.listas  textarea{height: 25px;resize: none;}
.listas ul{padding: 0;list-style: none;}
.listas ul li{padding: 5px 15px;display: block;background: #404040;position: relative;}


	.titulos ul{padding: 0;list-style: none;}
.titulos ul li{padding: 5px 15px;display: block;background: #000;position: relative;color:#FF6B24;
	font-size:24px;
	margin-left:5%;
	margin-right:3%;
	-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
	


.seguidores ul{padding: 0;list-style: none;}
.seguidores ul li{padding: 5px 15px;display: block;background: #404040;position: relative;
	
	margin-left:5%;
	margin-right:3%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;border-left: 4px solid transparent;border-right: 1px solid transparent;border-top: 1px solid transparent;border-bottom: 1px solid transparent;}

.seguidores ul li:hover{-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede;border-left-color: #F2780C;
	border-right-color: #FF6B24;
	border-top-color: #FF6B24;
	border-bottom-color: #FF6B24;}



.mapa li{padding: 5px 15px;display: block;background: #404040;position: relative;
	
	margin-left:7%;
	margin-right:3%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;border-left: 4px solid transparent;border-right: 1px solid transparent;border-top: 1px solid transparent;border-bottom: 1px solid transparent;}

.mapa li:hover{-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede;border-left-color: #F2780C;
	border-right-color: #FF6B24;
	border-top-color: #FF6B24;
	border-bottom-color: #FF6B24;}
	
.botonanadir{
	
	padding:5px 10px 5px 10px;
	background:#4B36AF;color:#FF6B24;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-top:0px;
	-webkit-box-shadow: 0px 0px 0px #000;
	-moz-box-shadow: 0px 0px 0px #000;
	box-shadow: 0px 0px 0px #000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0px;
}

.botonanadir:hover{
	-webkit-box-shadow: 0px 0px 10px #ff3ede;
	-moz-box-shadow: 0px 0px 10px #ff3ede;
	box-shadow: 0px 0px 10px #ff3ede;
	background:#404040;
}

