
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600|Open+Sans:400italic,400,300,600);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.two_cols > li {
    float: left;
    width: 33.333333333333333%;
}

.home-section {
	
    margin-bottom: 40px;

}

@media (max-width: 1199px) { 
    .boxed {
        border: 0
    }
}

.wrap-pattern {
    background-color: #009c82;
 
    background-repeat: repeat;
    color: #fff;
    border-bottom: solid 1px #ccc;
}

.page-title {
    background-color: #009c82;
    color: #fff;
    margin-bottom: 40px;
    padding: 20px 0;
    overflow: hidden;
}

.page-title h1 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    display: inline-block;
    color: #fff;
}

.section-title {
    margin: 40px 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: solid 7px #ddd;
    color: #FF6B24;
}


/* Buttons */

.btn {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: linear-gradient(top, #fbfbfb, #e1e1e1);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    border: 1px solid #d4d4d4;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
    text-shadow: 0 1px 1px white;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

/* line 43, ../scss/partials/_buttons.scss */

.btn:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc);
}

/* line 47, ../scss/partials/_buttons.scss */

.btn:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb;
}

/* line 53, ../scss/partials/_buttons.scss */

.btn:focus {
    outline: none
}



.btn-transparent {
    background: none;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid 1px #fff;
    text-shadow: none;
}

.btn-transparent:hover {
    background: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: #009c82;
}


/* Home Features */

/* ------------------------------------------------------------------ */

.btnRegistro{
	-webkit-box-shadow: inset 0px 0px 20px #FF6B24;
  -moz-box-shadow: inset 0px 0px 20px #FF6B24;
  box-shadow: inset 0px 0px 20px #FF6B24;
  border: 1px solid #FF6B24;
}
.btnRegistro:hover{
	background-color:#1B1E24;
	color:#FF6B24;
}
.home-features-item {
	
    background-color: #001;
    -webkit-box-shadow: inset 0px 0px 20px #FF6B24;
  -moz-box-shadow: inset 0px 0px 20px #FF6B24;
  box-shadow: inset 0px 0px 20px #FF6B24;
	
   
    position: relative;
    overflow: hidden;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 40px;
	margin-top: 40px;
}

.home-features-item .item-icon {
    text-align: center;
    padding: 20px;
}

.home-features-item i {
    color: #009c82;
    font-size: 14em;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.home-features-item .item-content {
    background-color: #000;
    color: #fff;
    padding: 20px;
    height: 220px;
    position: absolute;
    z-index: 10;
    top: 155px;
    left: 0;
	
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.home-features-item:hover .item-content,
.home-features-item.cs-hover .item-content {
    top: 0
}

.home-features-item .item-content h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #FF6B24;
}

@media (min-width: 768px) and (max-width: 991px) { 
    .home-features-item {
        height: 250px
    }

    .home-features-item i {
        font-size: 12em
    }

    .home-features-item .item-content {
        font-size: .8em;
        line-height: 1.6em;
    }

    .home-features-item .item-content h3 {
        font-size: 1.5em;
        margin: 0 0 10px 0;
    }

    .home-features-item .item-content {
        padding: 10px;
        height: 250px;
        top: 210px;
        left: 0;
    }
}

@media (min-width: 992px) { 
    .home-features-item .item-content {
        font-size: .98em;
        line-height: 1.6em;
    }

    .home-features-item i {
        font-size: 14em
    }
}

@media (min-width: 1200px) { 
    .home-features-item {
        width: 90%
    }

    .home-features-item .item-content {
        line-height: 1.7em
    }

    .home-features-item i {
        font-size: 14em
    }
}

/* ABOUT US HOME */

/* ----------------------------------------------------- */
.home-about-text {
    padding-right: 40px
}

.home-about-text p {
    line-height: 170%;
    font-size: 1.3em;
    padding-right: 30px;
    margin-bottom: 20px;
	color:#505050;
}

.home-about-features {
    padding-left: 30px
}

.about-item {
    overflow: hidden;
    margin-bottom: 20px;
}

.about-item-icon {
    float: left
}

.about-item i {
    font-size: 4em;
    margin-right: 20px;
    color: #009c82;
}

.about-item h3 {
    margin: 0;
    padding: 0 0 10px 0;
}

.about-item p {
    line-height: 170%
}
/* Home Workflow */
/* ---------------------------------------------------------- */

.home-title {
    
    text-transform: uppercase;
    font-size: 2.4em;
    text-align: center;
    padding: 0;
    margin: 0 0 40px 0;
    text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px;
    font-weight: 300;
    color: #FF6B24;
}

.workflow-line {
    position: relative
}

.workflow-item {
    border: solid 10px #FF6B24;
    padding: 10px;
    border-radius: 500px;
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 4;
    vertical-align: center;
    margin: 0 12px;
    background-color: #EEF0F9;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.workflow-item h2 {
    color: #555;
}

.workflow-item i {
    font-size: 5em
}

.workflow-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    font-size: .9em;
    background-color: #1B1E24;
    border-radius: 500px;
    color: #fff;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.workflow-caption p {
    margin-bottom: 0
}

.workflow-item:hover,
.workflow-item.cs-hover {
    background-color: #404040;
}

.workflow-item:hover .workflow-caption,
.workflow-item.cs-hover .workflow-caption {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg); /* Safari and Chrome */
}

@media (min-width: 768px) { 
    #workflow:before {
        border-top: 50px solid #009c82;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 53%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }

    .workflow-item {
        width: 140px;
        height: 140px;
        margin: 0;
        padding: 5px;
    }

    .workflow-item h2 {
        font-size: 1.7em
    }

    .workflow-item i {
        font-size: 3em
    }

    .workflow-caption {
        padding: 9px;
        font-size: .8em;
        line-height: 120%;
    }

    .workflow-caption p {
        position: relative;
        margin-top: 0%;
    }
}

@media (min-width: 992px) { 
    .workflow-item {
        width: 180px;
        height: 180px;
        margin: 0 2px;
        padding: 5px;
    }

    .workflow-item h2 {
        font-size: 2.1em
    }

    .workflow-item i {
        font-size: 5em
    }

    .workflow-caption {
        padding: 10px 20px 20px 20px;
        font-size: .9em;
        line-height: 140%;
    }
}

@media (min-width: 1200px) { 
    .workflow-item {
        width: 200px;
        height: 200px;
        margin: 0 12px;
        padding: 5px;
    }

    .workflow-item h2 {
        font-size: 2.1em
    }

    .workflow-item i {
        font-size: 6em
    }

    .workflow-caption {
        padding: 0px;
        font-size: .95em;
        line-height: 160%;
    }

    .workflow-caption p {
        position: relative;
        margin-top: 25%;
    }
}

/* SLOGAN */

/* ------------------------------------------------------- */

.slogan .lead {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.7em;
    text-align: center;
    margin: 0px auto;
	
}

.slogan span {
    color: #FF6B24;
}


/* about-info */
/* -------------------------------------------------- */

.about-item-icon {
    float: left;
}



.about-team-item {
    max-width: 360px;
    margin: 0 auto 40px auto !important;
}

.about-team-item:hover .about-team-item-social {
    visibility: visible;
    opacity: 1;
    
}

.about-team-item img {
    display: block;
    margin: 0 auto;
}



.about-team-item h3 {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-team-item-content {
    padding: 15px;
    border-left: solid 1px #008974;
    border-right: solid 1px #008974;
}

.about-team-item-header {
    position: relative;
    background-color: #f00;
    border-top: solid 1px #008974;
    border-left: solid 1px #008974;
    border-right: solid 1px #008974;
}

.about-team-item-social {
    position: absolute;
    padding: 7px;
    background-color: rgba(0, 0, 0, .7);
    display: block;
    width: 100%;
    visibility: hidden;
    opacity: 0;

    transition: all .3s;
    -webkit-transition: all .3s;
}

.about-team-item-social a {
    color: #fff;
}

.about-team-item-social a:hover {
    color: #009c82;
}

.about-team-item-social i {
    font-size: 1.7em;
    margin: 0 8px;
}

.about-team-item-footer a {
    color: #fff;
    background-color: #008974;
    text-align: center;
    padding: 5px;
    display: block;
    border: solid 1px #008974;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

.about-team-item-footer a:hover {
    background-color: #009c82;
}

@media (min-width: 1200px) {

.about-team-item {
    width: 95%;
}

}