/* PINK COLOR */
.orangeBox{
    background:#000;
    border: 2px solid #FF6B24; 	
}

/* Profile */
.profile-sec-head {

    	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
    float: left;
    width: 100%;
}
.profile-sec-head h1 {
    color:#FF6B24;
    float: left;
    font-family: open sans;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    margin: 20px 0 15px;
    text-align: center;
    width: 100%;
}
.profile-sec-head h1 i {
    font-style: normal;
	
    font-weight: 600;
}
.profile-sec-head p {
    color: #444444;
    display: table;
    float: none;
    font-family: open sans;
    font-size: 13px;
    letter-spacing: 0.25px;
    margin: 0 auto;
}
.profile-sec-head p i {
    margin-right: 10px;
}
.profile-sec-head ul {
    display: table;
    float: none;
    margin: 10px auto 20px;
    padding: 0;
}
.profile-sec-head ul li {
    float: left;
    list-style: none outside none;
    margin: 0 3px;
}
.profile-sec-head ul li a {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    height: 30px;
    line-height: 26px;
    text-align: center;
    width: 30px;
	
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.profile-details {
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
    background: none repeat scroll 0 0 #FCD8A7;
    float: left;
    width: 100%;
}
.profile-details > span {
		
    background: none repeat scroll 0 0 #ECEDEE;
    color: #666666;
    float: left;
    font-family: open sans;
    font-size: 12px;
    padding: 8px 0;
    text-align: center;
    width: 50%;
}
.profile-details > span > i {
    color: #444444;
    float: left;
    font-family: open sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    width: 100%;
}
.profile-details > p {
    color: #666666;
    float: left;
    font-family: pt sans;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin: 20px 0 45px;
    padding: 0 20px;
    width: 100%;
}
.profile-margin {
    margin-top: 5px;
	margin-left:-25px;
}
.profile-details > p i {
    color: #444444;
    float: left;
    font-family: open sans;
    font-size: 13px;
    font-style: normal;
    line-height: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.profile-details > a {

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
	
    display: table;
    float: none;
    line-height: 10px;
    margin: 0 auto 45px;
    padding: 18px;
    text-align: center;
}
.profile-details > a i {
    float: left;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
