<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Where2Night</title>
</head>


<body>
	<h1>Where2Night</h1>
    <button type="button">Iniciar Sesión</button>
    <table width="800" align="center" border="0">
    	<tr>
        	<td>Frase 1</td>    
        </tr>
        <tr>
        	<td width="30%"></td>   
            <td>Frase 2</td> 
        </tr>
    </table>
    <table width="800" align="center" border="0">
        <tr>
        	<td width="60%"></td>   
            <td>Frase 3</td>     
        </tr>
    </table>
</body>
</html>
