<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página principal">
    <meta name="author" content="Where2night">
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->
	
    <title>Where2night</title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	
	<!--Own css-->
	<link href="../assets/stylesheets/home.css" rel="stylesheet" type="text/css" />
    <link href="../assets/stylesheets/login.css" rel="stylesheet" type="text/css" />
	
    <!-- Bootstrap -->
    <link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    
    <script type="text/javascript">  
		$(document).ready(function(){ 
		  
			$('.resize').hover(
				function() {
					$(this).animate({width: 300});;
				},
				function() {
					$(this).animate({width: 250});
				}
			);
			
			$('.phrase1').hover(
				function() {
					$('#image1').animate({width: 300});;
				},
				function() {
					$('#image1').animate({width: 250});
				}
			);
			
			$('.phrase2').hover(
				function() {
					$('#image2').animate({width: 300});;
				},
				function() {
					$('#image2').animate({width: 250});
				}
			);
			
			$('.phrase3').hover(
				function() {
					$('#image3').animate({width: 300});;
				},
				function() {
					$('#image3').animate({width: 250});
				}
			);
			
			////////////////////////////////////////////////////
			    var button = $('#loginButton');
				var box = $('#loginBox');
				var form = $('#loginForm');
				button.removeAttr('href');
				button.mouseup(function(login) {
					box.toggle();
					button.toggleClass('active');
				});
				form.mouseup(function() { 
					return false;
				});
				$(this).mouseup(function(login) {
					if(!($(login.target).parent('#loginButton').length > 0)) {
						button.removeClass('active');
						box.hide();
					}
				});
			
		});//end $(document).ready(function()
		
		
    </script>

    
  </head>
  <body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
         <!--- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-top">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="#">Where2Night</a>
        </div>
        <!--<div class="navbar-collapse collapse" id="bs-navbar-collapse-top">-->
        <div id="bar">
            <div id="loginContainer">
                <a href="#" id="loginButton"><span>Login</span><em></em></a>
                <div style="clear:both"></div>
                <div id="loginBox">                
                    <form id="loginForm">
                        <fieldset id="body">
                            <fieldset>
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Correo electrónico">
                            </fieldset>
                            <fieldset>
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
                            </fieldset>
                            <fieldset style="text-align:left">
                            	<label for="checkbox"><input type="checkbox" id="checkbox"/>Recordar mis datos</label>
                            </fieldset>
                            <button type="submit" class="btn btn-default">Entrar</button>
                        </fieldset>
                        <a href="#">¿Olvidó su contraseña?</a>
                        <fieldset>
                        	<p> Iniciar sesión usando: </p>
                        	<a href="#"><img src="../assets/images/login/facebook.jpe"></a>
                            <a href="#"><img src="../assets/images/login/gmail.jpe"></a>
                        </fieldset>
                    </form>
                </div>
            </div>
       <!-- </div>-->
        <!--  <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Correo electrónico">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Contraseña">
            </div>
            <div class="form-group">
           		<div class="checkbox"><label> <input type="checkbox"> Recordar mis datos  </label> </div>
          	</div>
           <button type="submit" class="btn btn-default">Entrar</button>
           <div class="form-group">
           	<p> Iniciar sesión usando: </p>
           </div>
           <div class="form-group">
               <button name="boton" type="submit" style="border:0;padding:0;"><img src="../assets/images/login/facebook.jpe"> </button> 
               <button name="boton" type="submit" style="border:0;padding:0;"><img src="../assets/images/login/gmail.jpe"> </button>  
           </div>      
          </form> -->
          <!-- Login Starts Here -->
            <!-- Login Ends Here -->
        </div><!--/.navbar-collapse -->
      </div>
    </div>
	
      <div class="container">
      	 
        <!-- -->
        <div id="tablePhrases">
			<table width="90%" align="center" border="0">
				<tr>
					<td class="phrase1">¿No sabes dónde ir de fiesta ni con quién?</td>    
				</tr>
			</table>
			<table width="90%" align="center" border="0">
				<tr>
					<td width="30%"></td>   
					<td class="phrase2">¿Quieres promocionar tu local?</td> 
				</tr>
			</table>
			<table width="100%" align="center" border="0">
				<tr>
					<td width="55%"></td>   
					<td class="phrase3">¿Eres DJ y quieres darte a conocer?</td>     
				</tr>
			</table>
		</div>
		<div id="tableIcons">
			<div class="row">
					<div class="col-md-4">
						<img id="image1" src= "../assets/images/icons/fiestero.png" class="resize" width="250" alt="Usuario Fiestero" title="Fiestero">
					</div>  
					<div class="col-md-4">
						<table width = "100%" cellpadding="0" cellspacing="0" border="0" >
							<tr>
								<td height= "75px"></td>
							</tr>
							<tr><td>
								<img id="image2" src= "../assets/images/icons/local.gif" class="resize" width="250" alt="Usuario Local" title="Local">
							</td></tr>
							<tr>
								<td height= "75px"></td>
							</tr>
						</table>
					</div> 
					<div class="col-md-4">
						<img id="image3" src= "../assets/images/icons/dj.gif" class="resize" width="250" alt="Usuario DJ" title="DJ">	
					</div>  
			</div>
		</div>
        <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
      <!--</div> -->
      <!-- Example row of columns -->
     <!-- <div class="row">
        <div class="col-md-4">
         <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>-->

     <!-- <footer>
        <p>&copy; Company 2013</p>
      </footer>-->
      
	  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-bottom">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-bottom">
             <ul class="nav navbar-nav">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Diseñado por</a></li>
                <li><a href="#">Móvil</a></li>
                <li><a href="#">Privacidad y Condiciones</a></li>
                <li><a href="#">¿Qúe es Where2Night?</a></li>
                <li><a href="#">Imagen AppStore</a></li>
             </ul>
          </div>
	  </div>
    </div> <!-- /container -->

  </body>
</html>